.main-section {
  background-image: url('img/background3.jpg');
  background-size: 100% auto;
  padding: 200px;
  position: relative;
}

.main-section h1{
}

.main-content{
  background: rgba(0,0,0,.8);
  padding: 200px;
}

.main-content h1{
  background-image: url('img/background.jpg');
  background-attachment: fixed;
  font-size: 100px;
  position: absolute;
  top:0;left:0;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}