@font-face {
  font-family: 'Cocogoose Pro-trial';
  src: url('font/COCOGOOSE/Cocogoose_trial.otf');
}

.main-content {
  background-image: linear-gradient(to bottom, rgba(240,240,240,0.5), rgba(240,240,240,0.95), rgba(240,240,240,1.0)),url('img/background8.jpg');
  background-size: 100% auto;
  
padding: 7vw 20% 7vw 10%;

  /* padding-left: 10%; */
  /* padding-top: 7vw; */
    /* padding-bottom: 7vw; */

  /* background-position-y: -400px; */
  /* padding: 300px; */
  /* position: relative; */
}

.main-content h1 {
  background-image: url('img/background3.jpg');
  -webkit-text-stroke: 3px #ec5242;
  /* -webkit-text-fill-color: #ec5242; */

  background-attachment: fixed;
  font-size: 50px;
  /* font-weight: bold; */
  /* position: absolute; */
  top: 0;
  left: 0;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: 'Cocogoose Pro-trial';
}

.main-content h2 {
  /* -webkit-text-stroke: 2px #272a31; */
  /* -webkit-text-stroke: 2px #d3d3d3; */
  /* -webkit-text-fill-color: #ec5242; */
  /* -webkit-text-stroke: 2px #ec5242; */
  /* -webkit-text-fill-color: #ec5242; */

  /* font-weight: bold; */
  color: #ec5242;
  /* font-size: 80px; */

  /* background-image: url('img/background7.jpg'); */
  /* background-position-x: -400px; */
  /* background-position-y: 0; */
  /* background-size: 100% auto; */
  /* -webkit-text-stroke: 3px #ec5242; */
  /* -webkit-text-fill-color: #ec5242; */

  /* background-attachment: fixed; */
  font-size: 40px;
  font-family: 'Cocogoose Pro-trial';
  /* font-weight: bold; */
  /* position: absolute; */
  top: 0;
  left: 0;
  /* -webkit-text-fill-color: transparent; */
  /* -webkit-background-clip: text; */
}

.badge {
  display: inline-grid;
  background-color: gray;
  padding: 2px;
  border-radius: 10%;
  /* border: solid 2px black; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2px;
  position: absolute;
  top: -20px;
  left: -38px;
  z-index: 1;
}

.cell {
  border-radius: 30%;
  border: solid 2px transparent;
  background-color: white;
  padding:2px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.bg-1 {
  background-color: magenta;
}

.bg-2 {
  background-color: greenyellow;
}

.bg-3 {
  background-color: orangered;
}

.bg-4 {
  background-color: aqua;
}

.bg-5 {
  background-color: mediumorchid;
}

.main-content{
  display: flex;
  flex-direction: column;
  /* margin-bottom: 500px; */
}

.main-text {
  display: flex;
}

.text-container{
  /* width:50%; */
  background-color: #f0f0f0;
  border: solid 5px white;
  z-index: 2;
  padding: 20px;
  font-weight: bold;
  color: darkgray;
  margin-top: 20px;
  margin-bottom: 30px;

}

.badge-container{
  position: relative;
}

.main-content h3 {
  color: #888;
  font-size: 30px;
  font-family: 'Cocogoose Pro-trial';
}

.social-navbar{
  background-color: #333;
}

.site-navbar{
  background-color: white;
}
